@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.google.com/specimen/Anta');

#myself {
  background-image: url('../../public/backgroundImage.jpg');
  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the background image */
  min-height: 100vh; /* Set minimum height to cover the entire viewport height */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid white;
  margin: 1em 0;
  padding: 0;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-style:italic ;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.circle {
  width: 300px; /* Adjust as needed */
  height: 300px; /* Adjust as needed */
  position: relative;
}

.skill {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  transform: translate(-50%, -50%) rotate(calc(var(--angle) * 1deg));
}

.skill .icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.skill .stars {
  display: flex;
  justify-content: center;
}
